Package: com.joshdoctors.reachthebanners
Name: ReachTheBanners
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Moves banner notifications down when reachability is active.
Maintainer: Josh Doctors
Author: Josh Doctors
Section: Tweaks
