Package: com.joshdoctors.bannerbuddy
Name: BannerBuddy
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Allows Reachability to work on notification banners.
Maintainer: Josh Doctors
Author: Josh Doctors
Section: Tweaks
